<!DOCTYPE html>
<html>

<head>
    <style>
        textarea {
            width: 600px;
            height: 50px;
        }
    </style>
</head>

<body>
    <h1>kanjinumbers.com</h1>
    <section>
        <h2>number2kanji</h2>
        <div>エンドポイント:</div>
        <div>
            <label> http://kanjinumbers.com/v1/number2kanji/
                <input type="text" id="userInput1" />
            </label>
            <button id="submitButton1">送信</button>
        </div>
        <div>結果:</div>
        <textarea id="result1"></textarea>
    </section>

    <section>
        <h2>kanji2number</h2>
        <div>エンドポイント:</div>
        <div>
            <label> http://kanjinumbers.com/v1/kanji2number/
                <input type="text" id="userInput2" />
            </label>
            <button id="submitButton2">送信</button>
        </div>
        <div>結果:</div>
        <textarea id="result2"></textarea>
    </section>


    <script>
        const urlBase = "http://ec2-3-112-175-24.ap-northeast-1.compute.amazonaws.com"
        // const urlBase = "http://localhost"

        // num2kanji
        const userInput1 = document.getElementById("userInput1")
        const submitButton1 = document.getElementById("submitButton1")
        const resultTextarea1 = document.getElementById("result1")

        const onClick1 = async () => {
            const num = userInput1.value
            const url = urlBase + "/v1/number2kanji/" + num

            const res = await fetch(url)
            if (res.status === 200) {
                const data = await res.text()
                resultTextarea1.value = data
            } else {
                resultTextarea1.value = "status code: " + res.status
            }
        }
        
        submitButton1.addEventListener("click", onClick1)

        // kanji2num
        const userInput2 = document.getElementById("userInput2")
        const submitButton2 = document.getElementById("submitButton2")
        const resultTextarea2 = document.getElementById("result2")

        const onClick2 = async () => {
            const num = userInput2.value
            const url = urlBase + "/v1/kanji2number/" + num

            const res = await fetch(url)
            if (res.status === 200) {
                const data = await res.text()
                resultTextarea2.value = data
            } else {
                resultTextarea2.value = "status code: " + res.status
            }
        }
        
        submitButton2.addEventListener("click", onClick2)

    </script>
</body>

</html>